@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background: #1A242F; */

    color: aliceblue;
    font-family: 'Crimson Pro', serif;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: #1A242F;
}

/* .movies-body{
    width: 80%;
    height: 90%;
    border: 2px solid blanchedalmond;
    border-radius: 20px;
    margin-top: 5%;
    overflow: hidden;
    box-shadow: 0px 10px 25px -10px rgb(57, 192, 216);
   background: url("photo/v-for.jpg") no-repeat center center/cover;
} */
.movies-body {
    width: 80%;
    border: 2px solid blanchedalmond;
    border-radius: 20px;
    margin: 100px 10% 0 10%;
    overflow: hidden;
    box-shadow: 0px 10px 25px -10px rgb(57, 192, 216);
}
.fragman-area video{
    position:absolute;
    height: 100%;
    width: 150%;
    left:-25%;
    z-index: -1;
}

.fragman-area {
    height: 890px;
    position: relative;
    margin: 0%;
    padding: 0%;
    /* background: url("photo/v-for.jpg")no-repeat center center/cover; */
}
.content{ position: relative;
color: white;
margin-top: 60px;
padding-left: 60px;
}
.navbar{
    margin-left: 20px ;
    margin-right: 20px;
}
.left-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.left-bar ul { 
    display: flex;
    margin: auto;
    align-items:flex-end;
    text-decoration: none;
    list-style: none;
    justify-content: space-around;
}
.left-bar ul li a{
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;

}
.featured-area{
    margin-bottom: 63px;
    display: flex;
    align-items: flex-end;
}
 .popular-slide{
    height: 600px;
    display: flex;
    justify-content:flex-end;
    align-items:end;
    flex-direction: row;
} 
.featured-content{

    padding-left: 12px;
}
.featured-content img{
    height: 200px;
    width: 130px;
    
}
.watched-list,.movies-list,.series-list,.action-list,.scifiction-list{
    display: flex;
}
.mov-category{
    margin-left:30px;
    margin: 10px;
}