@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background:rgb(0, 0, 0);
    border-radius: 20px;
    color: aliceblue;

}

body {
    width: 100%;
    height: 100vh;
    background:rgb(43, 43, 43);
    font-family: 'Crimson Pro', serif;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
header {
    width: 80%;
    height: 90%;
    border: 2px solid blanchedalmond;
    border-radius: 20px;
    margin-top: 5%;
    overflow: hidden;
    box-shadow: 0px 10px 25px -10px rgb(57, 192, 216);
    background: url("photo/v-for.jpg") no-repeat center center;
}
.navbar-top{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.top-bar{
    display: flex;
    margin-left: 15px;
    align-items: center;
}
.top-bar ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    
    margin: auto;
    padding-right: 15px;
    
}
.top-bar ul li,a{
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    padding-right: 15px;
    color: aliceblue;
}
.user-panel{ 
    margin-right:30px;
   position: relative;
   float: right;

}
#user-detail{
    
}
    
